.dashboard-menu {
    background-color: white;
    box-shadow:  0px 4px 8px rgb(0 0 0 / 12%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
    padding: 16px 48px;
    height: 100%;
    width: 100%;
}

.dashboard-menu .logo {
    padding: 7px 20px;
}


.dashboard-menu h6 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 1.2em;
    color: var(--black);
    box-sizing: border-box;
}

.dashboard-menu .nav-text .dash-icon .fa {
    color: var(--black);
    font-size: 1.2em;
    margin-right: 20px;
}

.nav-text {
    margin: 20px 0;
    border-radius: 50px;
    display: flex;
    min-height: 2px;
    padding: 5px 20px;
    align-items: center;
}

.nav-text:hover, .is-active {
    background-color: #e2dafd;
}

.nav-text:hover h6, .is-active h6 {
    color: var(--purple);
}

.nav-text:hover .dash-icon .fa, .is-active .dash-icon .fa {
    color: var(--purple) !important;
}

