.dashboard {
    background-color: var(--bg-white);
    
}

.side-nav {
    width: 320px;
    height: 100vh;
    position: fixed;
}

.profiles-body {
    width: calc(100% - 320px);
    padding: 30px;
    position: relative;
    left: 320px;
}


@media (max-width: 1024px) {
    .side-nav {
        display: none;
    }

    .dashboard {
        padding: 30px calc(var(--l120) * 100vw);
    }

    .profiles-body {
        width: 100%;
        position: initial;
    }

}