.left-part h1 {
    font-family: Poppins;
    font-weight: bold;
    /* font-size: 72px; */
    /* line-height: 112px; */
    letter-spacing: 0.03em;
}

.left-part {
    width: 50%;
}

.sign-container {
   
    padding: 0  calc(100vw * 180 / 1438);
}

.sign-container main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-part h1 span:first-of-type {
    color: var(--purple);
}

.left-part h1 span:nth-of-type(2) {
    color: var(--red);
}

.sign-container {
    background: #ffffff;
}

.left-part h5 {
    color: var(--black);
    width: 80%;
    margin-top: 40px;
}

.left-part h5 .a {
    color: var(--red);
    font-size: inherit;
}

.left-part h5 .a:hover {
    color: var(--purple) !important;
}

.navbar {
    display: none;
}

.form {
    width: 50%;
}

@media (max-width: 1024px) {
    .navbar {
        display: block;
    }
    .sign-container {
        padding: 0 0 !important;
    }
    .sign-container main {
        padding: 0 calc(100vw * var(--l120)) !important;
        flex-direction: column;
    }
    .left-part {
        width: 100%;
    }
}