form {
    width: 100%;
    display: block;
    margin: auto;
}
input, button {
    width: 70%;
    display: block;
    /* margin: 0 auto; */
    /* background-color: var(--lightest-blue); */
    border-radius: 8px;
    font-family: Nunito Sans;
    font-weight: 600;
    border: none;
    line-height: 32px;
    padding: 10px 24px;
    color: var(--purple);
    outline: none;
    /* border: 1px solid var(--purple); */
}

button {
    margin: 0 auto;
}
form>div {
    display: flex;
    min-height: 2px;
    align-items: center;
    margin: 30px auto;
    width: 70%;
    /* justify-content: center; */
    flex-wrap: wrap;
    border-radius: 8px;
}

.input {
    position: relative;
}

.input-icon {
    /* background-color: rgb(163, 41, 10); */
    /* padding: 10px 24px; */
    /* width: 10%; */
    /* display: flex; */
    justify-content: space-between;
    position: absolute;
    right: 24px;
    opacity: 0.8;
}

.input-icon, input, button {
    font-size: 16px;
}

.input-icon {
    color: var(--red);
}

/* .name input {
    margin-top: 0;
} */

.line-or {
    width: 70%;
    display: flex;
    margin: 32px auto;
    justify-content: space-between;
}
.line {
    width: 30%;
    background-color: var(--thick-blue);
    height: 1px;
}

input:focus, .input:focus {
    border: 1px solid var(--red);
    background-color: var(--bg-white);
}

input {
    box-shadow:  -4px -4px 20px rgba(0, 0, 0, 0.01), 4px 4px 20px rgba(0, 0, 0, 0.01);
    width: 100%;
    padding-right: 48px;
    border: 1px solid var(--thick-blue);
}

button {
    background-color: var(--thick-blue);
    color: white;
    font-family: Poppins;
    font-weight: 400;
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.auth-buttons div {
    border: 2px solid var(--thick-blue);
    display: flex;
    width: 48%;
    min-height: 2px;
    border-radius: 8px;
    align-items: center;
    padding: 0 24px;
}

.auth-buttons div:hover {
    background-color: var(--light-blue);
    border-width: 1px;
    cursor: pointer;
}

.auth-buttons div:hover h5 {
    color: var(--bg-white);
}

form button:hover {
    background-color: var(--purple);
}

.auth-buttons .icon {
    height: 16px;
    margin-bottom: 0;
    margin-right: 8px;
}

.auth-buttons div h5 {
    font-size: 16px;
    font-weight: 500;
}


@media (max-width: 1024px) {
    input, button, .line-or, .auth-buttons {
        width: 100%;
    }

    .input {
        width: 100%;
    }
    .line {
        width: 20%;
    }
}