form {
    width: 100%;
    display: block;
    margin: auto;
}
input, button {
    width: 70%;
    display: block;
    margin: 30px auto;
    background-color: var(--lightest-blue);
    border-radius: 8px;font-family: Nunito Sans;
    font-weight: 600;
    font-size: 16px;
    border: none;
    line-height: 32px;
    padding: 10px 24px;
    color: var(--purple);
    outline: none;
    /* border: 1px solid var(--purple); */
}

.name input {
    margin-top: 0;
}

.line-or {
    width: 70%;
    display: block;
    margin: 30px auto;
}

input:focus {
    border: 1px solid var(--purple);
    background-color: var(--bg-white);
}

input {
    box-shadow:  -4px -4px 20px rgba(0, 0, 0, 0.01), 4px 4px 20px rgba(0, 0, 0, 0.01);
}

button {
    background-color: var(--red);
    color: white;
    font-family: Poppins;
    font-weight: 400;
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.auth-buttons div {
    border: 2px solid var(--purple);
    display: flex;
    width: 48%;
    min-height: 2px;
    border-radius: 8px;
    align-items: center;
    padding: 0 24px;
}

.auth-buttons div:hover {
    background-color: var(--lightest-blue);
    border-width: 1px;
    cursor: pointer;
    cursor: pointer;
}

form button:hover {
    background-color: var(--purple);
}

.auth-buttons .icon {
    height: 16px;
    margin-bottom: 0;
    margin-right: 8px;
}

.auth-buttons div h5 {
    font-size: 16px;
    font-weight: 500;
}


@media (max-width: 1024px) {
    input, button, .line-or, .auth-buttons {
        width: 100%;
    }
}