.a-ready-cv {
    margin-top: 2em;
}

.a-ready-cv h6 {
    color: #777777;
    cursor: initial;
    font-size: 0.8em;
    letter-spacing: 1.3px;
    margin-top: 0;
}

.a-ready-cv h6:hover {
    background-color: transparent;
}

.a-ready-cv .section-links {
    margin-left: 0.6em;
}

.a-ready-cv .section-links a {
    font-weight: 400;
    color: #555555;
}

.a-ready-cv .section-links a:hover {
    color: var(--green);
}

.a-short-line {
    width: 70%;
    margin: 20px 0;
    height: 1px;
    background-color: #777777;
}

button.download {
    color: var(--green);
    margin-left: 0.6em;
    cursor: pointer;
    padding: 0;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 1.3px;
}

.a-ready-cv .sm-show {
    display: none;
}
button.download:hover {
    opacity: 0.6;
}

.a-ready-cv footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--black);
    padding: 10 calc(100vw * var(--l120));
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 70px;
    align-items: flex-end;
}

.a-ready-cv .footer-button {
    background-color: var(--darker-black);
    border-radius: 5px;
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.26);
    /* opacity: 0.2; */
    font-weight: 700;
    letter-spacing: 2.4px;
    /* box-shadow: 7px 7px 11px 0px rgb(255 255 255 / 2%), -7px -7px 11px 0px rgb(255 255 255 / 2%); */
    /* background-color: red; */
}

.a-ready-cv .footer-button:hover {
    color: white;
}

.a-ready-cv .green {
    background-color: var(--green);
    color: white;
}

.a-ready-cv .green:hover {
    opacity: 0.5;
}

.fontawesome {
    font-family: 'FontAwesome';
    margin-right: 12px;
    color: #333333;
    font-size: 0.8em;
}

.a-ready-cv .page:hover {
    transform: translateX(3px);
}

.a-ready-cv .page:hover .fontawesome {
    color: var(--green);
}

@media (max-width: 1024px) {
    .a-ready-cv .sm-none {
        display: none;
    }

    .a-ready-cv .sm-show {
        display: flex;
    }

    .change-template h6 {
        color: var(--green);
    }

    .change-template {
        justify-content: flex-end;
    }

    button.res-sections {
        background-color: transparent;
        border: 1px solid var(--green);
        margin-top: 32px;
        color: var(--green);
        font-weight: 600;
        width: 100%;
    }

    .a-ready-cv .show-block {
        display: block;
    }

    button.save {
        background-color: var(--green);
        color: white;
        margin-top: 0;
        margin-bottom: 32px;
    }

    .a-ready-cv footer {
        position: absolute;
        margin-top: 24px;
    }
}