.a-ready-cv {
    margin-top: 2em;
}

.a-ready-cv h6 {
    color: #777777;
    cursor: initial;
    font-size: 0.8em;
    letter-spacing: 1.3px;
    margin-top: 0;
}

.a-ready-cv h6:hover {
    background-color: transparent;
}

.a-ready-cv .section-links {
    margin-left: 0.6em;
}

.a-ready-cv .section-links a {
    font-weight: 400;
    color: #555555;
}

.a-ready-cv .section-links a:hover {
    color: var(--green);
}

.a-short-line {
    width: 70%;
    margin: 20px 0;
    height: 1px;
    background-color: #777777;
}

button.download {
    color: var(--green);
    margin-left: 0.6em;
    cursor: pointer;
    padding: 0;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 1.3px;
    background-color: transparent;
}

.a-ready-cv .sm-show {
    display: none;
}
button.download:hover {
    opacity: 0.6;
}

.a-ready-cv footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #0f0c16;
    padding: 1px calc(100vw * var(--l120));
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 56px;
    align-items: flex-end;
}

.a-ready-cv .footer-button {
    background-color: var(--darker-black);
    border-radius: 5px;
    padding: 12px 30px;
    color: rgba(255, 255, 255, 0.26);
    /* opacity: 0.2; */
    font-weight: 600;
    font-size: 0.8em;
    display: flex;
    min-height: 2px;
    align-items: center;
    letter-spacing: 2.4px;
    /* box-shadow: 7px 7px 11px 0px rgb(255 255 255 / 2%), -7px -7px 11px 0px rgb(255 255 255 / 2%); */
    /* background-color: red; */
}

.a-ready-cv .footer-button:hover, .a-ready-cv .visible,
.a-ready-cv .footer-button:hover .fontawesome,
.a-ready-cv .visible .fontawesome {
    color: white;
}

.a-ready-cv .green {
    background-color: var(--green);
    color: white;
}

.a-ready-cv .green:hover {
    opacity: 0.5;
}

.fontawesome {
    font-family: 'FontAwesome';
    margin-right: 12px;
    color: #333333;
    font-size: 0.8em;
}

.a-ready-cv footer .fontawesome {
    font-size: 1.6em;
    margin-right: 0;
    margin-left: 16px;
}

.a-ready-cv .page:hover {
    transform: translateX(3px);
}

.a-ready-cv .page:hover .fontawesome {
    color: var(--green);
}

.color-box-container .color-box {
    display: none;
    background-color: var(--black);
    width: 200px;
    flex-wrap: wrap;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -84px;
    max-width: 95%;
    margin: auto;
    border-radius: 5px 5px 0 0 ;
    box-shadow: 8px 9px 20px 0px #0000002b, -8px -9px 20px #0000002b;
    animation-fill-mode: forwards;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}

.a-ready-cv .show .color-box {
    animation-name: boxGoUp;
    display: flex;
}

@keyframes boxGoUp {
    0% {bottom: -84px;}
    5% {bottom: -77px;}
    10% {bottom: -70px;}
    15% {bottom: -63px;}
    20% {bottom: -56px;}
    25% {bottom: -49px;}
    30% {bottom: -42px;}
    35% {bottom: -35px;}
    40% {bottom: -28px;}
    45% {bottom: -21px;}
    50% {bottom: -14px;}
    55% {bottom: -7px;}
    60% {bottom: 0px;}
    65% {bottom: 7px;}
    70% {bottom: 14px;}
    75% {bottom: 21px;}
    80% {bottom: 28px;}
    85% {bottom: 35px;}
    90% {bottom: 42px;}
    95% {bottom: 49px;}
    100% {bottom: 56px;}
}

.a-ready-cv .hide .color-box {
    display: none;
}


.color-box-container .color {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15), -10px -10px 10px rgba(0,0,0,0.15);
    cursor: pointer;
}


@media (max-width: 1024px) {
    .a-ready-cv .sm-none {
        display: none;
    }

    .a-ready-cv .sm-show {
        display: flex;
    }

    .change-template h6 {
        color: var(--green);
    }

    .change-template {
        justify-content: flex-end;
    }

    button.res-sections {
        background-color: transparent;
        border: 1px solid var(--green);
        margin-top: 32px;
        color: var(--green);
        font-weight: 600;
        width: 100%;
    }

    .a-ready-cv .show-block {
        display: block;
    }

    button.save {
        background-color: var(--green);
        color: white;
        margin-top: 0;
        margin-bottom: 32px;
    }

    .a-ready-cv footer {
        position: fixed;
        margin-top: 24px;
    }
}