.a-ready-cv .the-pdf {
    --aspect-ratio: 4 / 3;
}


.the-pdf > :first-child {
    width: 100%;
}
.the-pdf > img {  
    height: auto;
} 
@supports (--custom:property) {
    .the-pdf {
        position: relative;
    }
    .the-pdf::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    .the-pdf > :first-child {
        overflow: scroll;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.15), -5px -5px 20px rgba(0,0,0,0.15);
        border-radius: 5px;
    }  

    .the-pdf > :first-child::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    .the-pdf > :first-child::-webkit-scrollbar-track {
        /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
        background-color: transparent;
        width: 1px;
      }
       
      .the-pdf > :first-child::-webkit-scrollbar-thumb {
        background-color: var(--green);
        /* outline: 1px solid slategrey; */
      }
}

@media (max-width: 1024px) {
    .a-ready-cv .the-pdf {
        --aspect-ratio: 3 / 4;
    }
    
}