:root {
  --white: #efefef;
  --bg-white: #faf6ff;
  --purple: #2a1173;
  --light-black: #061923;
  --light: #0c161b;
  --light-purple: #d6d2e0;
  --black: #0d0816;
  --darker-black: #04010c;
  --l52: calc(52 / 1438);
  --l24: calc(24 / 1438);
  --l120: calc(120 / 1438);
  --l60: calc(60 /1438);
  --l736: calc(736 / 1438);
  --l304: calc(304 / 1438);
  --l144: calc(144 / 1438);
  --h: #aa97d8;



  --thick-blue: #004A8F;
  --light-blue: #0D57FF;
  --green: #138b23 ;
  --yellow: #11731e;
  --red: #E5193B;
  --lightest-blue: #90FAFF;
}


/* ABOVE, variables starting with l indicates length relative to the width of the frame used in the ui design */

/* GENERAL STYLES | FONTS, COLORS AND STUFFS */

/* NOTE (Constraints): 
      Laptop - x > 1024
      Tablet - 415 <= x <= 1024
      Mobile - x < 415
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;800;900&family=Poppins:wght@400;500;800;900&display=swap');

/* general selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-svg {
  position: absolute;
  z-index: -10;
}

body {
  background-color: #faf6ff;
}

/* Logo Font Style */
.logo {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0.02em;
}

/* FONT STYLES ALL SIZES*/
h1, h2, h4, h6, h5, a, b, p, .tag {
  font-style: normal;
}
h1, h4 {
  font-weight: 900;
}

h1, h2, h5, b {
  line-height: 88px;
  font-family: Poppins;
  font-size: 56px;
}

h2, h4 {
  letter-spacing: 0.02em;
}

h4, h6, a, p, .tag {
  font-family: "Nunito Sans"
}

h1, h5, p {
  letter-spacing: 0.03em;
}

h5, h6, a {
  line-height: 40px;
}


h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

h4 {
  font-size: 40px;
  line-height: 56px;
}
h5 {
  font-weight: 400;
  font-size: 24px;
}
h6, a, .a {
  font-weight: 600;
  font-size: 20px;
}

a, .a {
  font-size: 16px;
  text-decoration: none;
}

b {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.03em;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
}

.tag {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--purple);
  margin: auto;
  min-width: 32px;
  max-width: 132px;
  background: transparent;
  border: 2px solid var(--purple);
  border-radius: 30px;
}

h3 {
  font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

letter-spacing: 0.02em;

}




@media (max-width: 414px) {
  h1 {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.02em;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h4 {
    font-size: 24px;
    line-height: 40px;
  }

  a, .a {
    line-height: 44px;
  }
}

@media (max-width: 240px) {
  a, .a {
    font-size: 12px;
  }
}