.form-nav-md {
    background-color: white;
    width: 100%;
    padding: 16px 0; 
    position: relative;
    width: calc(100% - 320px);
    left: 320px;
    box-shadow: 5px 0px 10px rgb(0 0 0 / 12%);
}

.the-form {
    position: relative;
    left: 320px;
}

.pages-md {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pages-md * {
    color: #999999;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.pages-md>div {
    margin: 0 0.6em;
}

.pages-md .current-page {
    color: var(--green);
}

.page {
    display: flex;
    min-height: 2px;
    align-items: center;
    cursor: pointer;
    transition: 1.5s;
}

.short-line {
    width: 2.5em;
    height: 0.2em;
    background-color: #999999;
    margin-left: 1em;
    transition: 1.5s;

}

.current-page .short-line {
    background-color: var(--green);
}

.form-nav-sm {
    display: none;
}

@media (max-width: 1024px) {
    .form-nav-md {
        display: none;
    }

    .form-nav-sm {
        display: block;
        background-color: white;
        width: 100%;
        padding: 8px 0; 
        box-shadow: 5px 0px 10px rgb(0 0 0 / 12%);
    }

    .profile-form .dashboard {
        padding: 0;
    }
    .profile-form .md-flex {
        display: none;
    }

    .form-nav-sm * {
        text-align: center;
    }

    .pages-dot-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .pages-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #999999;
        transition: 1.5s;
        margin: 5px 0.4em;
    }
    .current-page-sm {
        background-color: var(--green);
    }

    .form-nav-sm svg {
        height: 50px;
        position: fixed;
        left: 0.6em;
        top: 0.7em;
        color: var(--green);
        fill: currentColor;
        padding: 0.8em;
        border-radius: 50%;
    }

    .form-nav-sm svg:hover {
        background-color: #d6f7da;
    }

    .the-form {
        left: 0;
    }
}