.form-nav-md {
    background-color: white;
    width: 100%;
    padding: 16px 0; 
    position: relative;
    width: calc(100% - 320px);
    left: 320px;
    box-shadow: 5px 0px 10px rgb(0 0 0 / 12%);
}

.form-container {
    position: relative;
    left: 320px;
}

.pages-md {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pages-md * {
    color: #999999;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.pages-md>div {
    margin: 0 0.6em;
}

.pages-md .current-page {
    color: var(--green);
}

.page {
    display: flex;
    min-height: 2px;
    align-items: center;
    cursor: pointer;
    transition: 1.5s;
}

.short-line {
    width: 2.5em;
    height: 0.2em;
    background-color: #999999;
    margin-left: 1em;
    transition: 1.5s;

}

.current-page .short-line {
    background-color: var(--green);
}

.form-nav-sm {
    display: none;
}

.profile-form svg {
    height: 50px;
    position: fixed;
    left: 330px;
    top: 0.7em;
    color: var(--green);
    fill: currentColor;
    padding: 0.8em;
    border-radius: 50%;
    z-index: 99999;
    cursor: pointer;
}

.profile-form svg:hover {
    background-color: #d6f7da;
}



@media (max-width: 1024px) {
    .form-nav-md {
        display: none;
    }

    .form-nav-sm {
        display: block;
        background-color: white;
        width: 100%;
        padding: 4px 0; 
        box-shadow: 5px 0px 10px rgb(0 0 0 / 12%);
    }

    .profile-form .dashboard {
        padding: 0;
    }
    .profile-form .md-flex {
        display: none;
    }

    .form-nav-sm * {
        text-align: center;
    }

    .pages-dot-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .pages-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #999999;
        transition: 1.5s;
        margin: 1px 0.4em;
    }
    .current-page-sm {
        background-color: var(--green);
    }

    .profile-form svg {
        height: 50px;
        position: fixed;
        left: 0.6em;
        top: 0.7em;
        color: var(--green);
        fill: currentColor;
        padding: 0.8em;
        border-radius: 50%;
        z-index: 99999;
        cursor: pointer;
    }

    .profile-form svg:hover {
        background-color: #d6f7da;
    }

    .form-container {
        left: 0;
    }
}



/* FORM STYLESS */
.form-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 2px;
    align-items: center;
}

.form-container * {
    font-family: 'Nunito Sans';
}

.form-container input, .form-container textarea {
    width: 100%;
    padding: 0.75em 1.4em;
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 0.6px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    color: #333;
    background-color: transparent;
}

.form-container input:focus, .form-container textarea:focus {
    border: 1px solid var(--green);
}

.my-form label {
    line-height: 2em;
}

.my-form .input-group {
    margin: 0.5em 0;
}

.my-form .f49 {
    width: 49.5%;
}

.my-form .f100 {
    width: 100%;
}

.my-form .f24 {
    width: 24.5%;
}

.form-container {
    min-height: 100vh;
    background-color: white;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    padding: 1.2em calc(80% * var(--l120));
}

.form-container {
    width: calc(100% - 320px);
}

.my-form h6 {
    font-size: 0.9em;
    margin-top: 1rem;
    color: var(--green);
    font-weight: 700;
    letter-spacing: 0.9px;
    cursor: pointer;
}

.my-form h6:hover {
    background-color: #d6f7da;
    display: inline-block;
}

.profile-form .button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 2px;
    align-items: center;
    margin-top: 2em;
}

.left-group {
    display: flex;
    min-height: 2px;
    align-items: center;
}

.profile-form button {
    padding: 0.75em 1.4em;
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 0.6px;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 1em;
}

.form-container h3 {
    color: var(--light);
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 0.3em;
}

.next-button {
    margin-right: 0.5em;
    background-color: var(--green);
    color: var(--bg-white);
}

.button-group .save-button, .button-group .view-button {
    border: 1px solid var(--green);
    color: var(--green);
    background-color: transparent;
}

.save-button:hover, 
.view-button:hover, 
.no-next .save-button 
{
    background-color: var(--green);
    color: var(--bg-white);
}

.no-next .next-button {
    display: none;
}

textarea {
    height: 200%;
}


@media (max-width: 1024px) {
    .form-container {
        width: 100%;
    }

    .my-form .f-sm-100 {
        width: 100%;
    }
    
    .my-form .f-sm-49 {
        width: 49.5%;
    }
    .my-form .f-sm-33 {
        width: 32%;
    }
}