.banner {
    display: flex;
    padding: 0 0 0 calc(100vw * var(--l120));
    min-height: calc(100vh - 88px - 88px);
    align-items: center;
    position: relative;
}

h1 {
    color: var(--black);
    margin-bottom: 8px;
}

.banner .one {
    left: calc(0.02 * 100vw);
    top: calc(0.01 * 100vh);
    
}

b {
    color: var(--darker-black);
    display: block;
    margin-bottom: 48px;
}

.buttons {
    display: flex;
}

.left {
    width: 44.5%;
}

.right {
    width: 55.5%;
}

.right img {
    --width: calc(100vw * var(--l736));
    /* width: var(--width); */
    width: 100%;
    /* height: calc((452 / 736) * var(--width)); */
}

.buttons a, .buttons .a {
    background-color: transparent;
    border: 2px solid var(--red);
    border-radius: 4px;
    width: 152px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
}

.buttons a:first-child, .buttons .a:first-child {
    background-color: var(--red);
    margin-right: 32px;
    color: var(--bg-white);
}

.banner-signup:hover {
    color: var(--bg-white);
    background-color: var(--red);
}


@media (max-width: 1024px) {
    .banner .one {
        width: 180px;
        /* top: calc(0.005 * 100vw); */
        max-width: 70vw;
    }
    .banner {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        /* padding-right: calc(100vw * var(--l120)); */
        min-height: calc(100vh - 88px);
        justify-content: center;
    }

    .left {
        padding: 0 calc(100vw * var(--l120));
    }

    .left, .right {
        width: 100%;
    }

    .right img {
        width: 100%;
        /* height: calc(0.616 * 100vw); */
        margin-top: 40px;
    }

    .buttons a, .buttons .a {
        width: 120px;
    }
}
