.footer {
    background-color: var(--darker-black);
    padding: 72px calc(100vw * var(--l120));
    padding-bottom: 24px;
}

.footer .logo, .lo {
    margin-bottom: 40px;
}

.footer .my {
    color: var(--bg-white);
}

.link a {
    display: flex;
    min-height: 5px;
    align-items: center;
    transition: 1s ease;
}

.footer a, .footer p {
    color: var(--bg-white);
    display: inline;
}


.footer.links.icons {
    color: var(--green);
}

.footer-icon {
    height: 16px;
}

.link {
    margin-bottom: 14px;
}

.link a:hover {
    color: var(--green);
    transform: translateX(25px);
}

.link a {
    display: inline-block;
}

.linkings {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fa-heart {
    color: var(--green);
}

.footer .logo .Resume {
    color: var(--green);
}

@media (max-width: 600px) {
    .linkings {
        flex-direction: column;
    }
    .linkings>* {
        margin: 16px 0;
    }
}