.my {
    color: var(--light);
}

.Resume {
    color: var(--light-blue);
}

nav {
    padding:0 calc(100vw * var(--l120));
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-at-center {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.links-at-center a, .links-at-center .a {
    margin-right: calc(100vw * var(--l52));
}

.links-at-center a:last-child, .links-at-center .a:last-child {
    margin-right: 0;
}

a, .a {
    color: var(--light-black);
}

nav a:hover, nav .a:hover {
    color: var(--red);
}

.links-at-end a, .links-at-end .a {
    color: var(--red);
}

.links-at-end a:first-child, .links-at-end .a:first-child {
    margin-right: calc(100vw * var(--l52));
}

.login {
    border: 2px solid var(--red);
    padding: 12px calc(100vw * var(--l24));
}

/* MENU ICON STYLES */
.menu-icon {
    display: none;
    /* display: flex; */
    height: 25px;
    align-items: flex-end; 
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon div {
    height: 5px;
    background-color: var(--black);
    width: 28px;
}

.menu-icon div:nth-child(2) {
    width: 40px;
}

.links-at-end .signup:hover {
    color: var(--purple) ;
}
.links-at-end .login:hover {
    color: var(--bg-white);
    background-color: var(--red);
}


@media (max-width: 1024px) {
    .links-at-center, .links-at-end {
        display: none;
    }
    .menu-icon {
        display: flex;
    }
}

