:root {
    --bg-white: #faf6ff;
    --light-black: #061923;
    --purple: #2a1173;
    --red: #FD151B;
    --l52: calc(52 / 1438);
    --l24: calc(24 / 1438);
    --l120: calc(120 / 1438)
}
/* ABOVE, variables starting with l indicates length relative to the width of the frame used in the ui design */
.my {
    color: var(--purple);
}

.Resume {
    color: var(--red);
}

nav {
    padding:0 calc(100vw * var(--l120));
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-at-center {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.links-at-center a {
    margin-right: calc(100vw * var(--l52));
}

.links-at-center a:last-child {
    margin-right: 0;
}

a {
    color: var(--light-black);
}

.links-at-end a {
    color: var(--red);
}

.links-at-end a:first-child {
    margin-right: calc(100vw * var(--l52));
}

.login {
    border: 2px solid var(--red);
    background-color: #ffecec;
    padding: 12px calc(100vw * var(--l24));
}

@media (max-width: 1024px) {
    .links-at-center, .links-at-end {
        display: none;
    }
}

@media (max-width: 414px) {
    
}