.reviews-section {
    background: var(--black);
    padding: 72px calc(100vw * var(--l120));
    position: relative;
}

.reviews-section h2 {
    color: var(--bg-white);
    margin-bottom: 88px;
}

.slideInner___2mfX9 {
    display: flex !important;
    /* flex-wrap: wrap !important; */
    width: 100%;
    justify-content: center;
}

.med, .small, .smallest {
    display: none;
}

.carousel {
    background-color: transparent;
    position: relative;
}

.line-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    width: 48px;
    overflow: hidden;
    outline: none;
}

.line-button:active {
    background-color: transparent;
    opacity: 0.3;
}

.line-button:first-of-type {
    top: 0;
    left: 0;
}

.review-box {
    margin: 0 36px;
}

.writings {
    position: relative;
    z-index: 10;
}

.reviews-section .five {
    top: -22.3%;
    right: 0;
    position: absolute;
    z-index: 39494 !important;
}

.reviews-section .six {
    z-index: 5;
    top: 32%;
    left: 10%;
    max-width: 30vw;
}

.reviews-section .seven {
    z-index: 5;
    bottom: 6%;
    right: 10%;
    max-width: 30vw;
}

@media (max-width:600px) {
    .reviews-section .six {
        top: 40%;
    }
}

@media (max-width: 1350px) {
    .reviews-section .five {
        display: none;
    }
}

@media (min-width: 1600px) {
    .reviews-section .five {
        top: -18%;
    }
}

@media (min-width: 2000px) {
    .reviews-section .five {
        top: -16%;
    }
}

@media (max-width: 1156px) {
    .line {
        width: calc(32 / 375 * 100vw);
        height: 4px;
    }

    .large, .small, .smallest {
        display: none;
    }
    .med {
        display: block;
    }

}



@media (max-width: 600px) {
    .large, .med, .smallest {
        display: none;
    }

    .small {
        display: block;
    }

    .reviews-section {
        background: url("./../../components/Svgs/reviews-bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 400px) {
    .large, .med, .small {
        display: none;
    }

    .smallest {
        display: block;
    }
}